.footer_top_menu {
  display: flex;
  @media (max-width: 767px) {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .footer-navigation {
    .menu {
      list-style: none;
      margin: 0;
      padding: 0;

      & > li {
        float: none;
        @media (max-width: 991px) {
          padding: 5px 0;
        }

        & > a {
          position: relative;
          font-size: 14px;
          line-height: 2.67;
          letter-spacing: -0.3px;
          color: rgba(255, 255, 255, 0.9);
          font-weight: 400;
          text-decoration: none;
          @media (max-width: 767px) {
            font-size: 18px;
            line-height: 1.28;
            color: #fff;
          }

          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1px;
            width: 0;
            background-color: #fff;
            transition: width 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
          }

          &:focus, &:hover {
            text-decoration: none;
            background: transparent;
            text-shadow: none;
            color: rgba(255, 255, 255, 0.9);


            &:after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}