.advantages {
  padding: 50px 0;
  background-color: #f1f2f5;

  & .block__title {
    @media (max-width: 767px) {
      margin-bottom: 0;
    }
  }

  .advantages_item {
    padding: 0 114px;
    @media (max-width: 991px) {
      padding: 24px 0;
    }

    .advantages_item_img {
      & > svg,
      & > img {
        display: block;
        margin: 0 auto;
        height: 48px;
      }
    }
  }
}