.banner {
  padding: 170px 0 36px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  @media (max-width: 1440px) {
    background-size: cover;
  }
  @media (max-width: 991px) {
    background-position: 57%;
  }
  @media (max-width: 767px) {
    padding: 54px 0 18px;
    background-position: 82% 75px;
    background-size: 711px;
  }
  @media (max-width: 320px) {
    background-size: 500px;
    background-position: 100% 40%;
  }

  & > .container {
    position: relative;
    z-index: 2;
  }

  .banner__title {
    font-family: 'SabonNextLTPro';
    display: block;
    font-size: 64px;
    color: #0e2355;
    line-height: 75px;
    font-weight: 400;
    width: 590px;
    margin-bottom: 22px;
    @media (max-width: 767px) {
      font-size: 36px;
      width: 100%;
      line-height: 1.22;
      clear: both;
      margin-bottom: 0;
    }
  }

  .banner__subtitle {
    font-family: Metric;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.11px;
    margin-bottom: 22px;
    color: #0e2355;
    @media (max-width: 767px) {
      margin-bottom: 238px;
    }
    @media (max-width: 320px) {
      margin-bottom: 174px;
    }
  }

  .banner__link {
    width: 317px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 32px;
    margin-bottom: 120px;
    @media (max-width: 767px) {
      width: 100%;
      margin-bottom: 16px;
    }
  }
}