.opinions {
  padding: 80px 0 30px;
  background-color: #0e2355;
  color: #fff;
  @media (max-width: 767px) {
    padding: 60px 0 0;
  }

  & > .container {
    border: solid 1px #ffffff;
    padding: 40px 76px 70px;
    @media (max-width: 767px) {
      overflow: hidden;
      border: none;
      padding: 0 0 22px 20px;
    }
  }

  .opinions_title {
    padding: 40px 0;
    color: #fff;
    @media (max-width: 767px) {
      padding: 40px 15px 0 0;
    }
  }

  & .es-reviews {
    height: 100%;
    padding: 28px;
    border: solid 1px #fff;

    .es-reviews_name {
      font-weight: 500;
      font-size: 18px;
      text-transform: uppercase;
    }

    & > svg, & > img {
      padding: 20px 0;
      width: 92px;
      height: 52px;
    }

    .es-reviews_text {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.38;
      color: rgba(255, 255, 255, 0.8);
    }
  }

  .opinions_info {
    padding: 40px 0 20px;
    @media (max-width: 767px) {
      padding: 40px 35px 0 20px;
    }

    .opinions_info_title {
      color: #fff;
      margin: 0;
    }

    .opinions_info_stars {
      font-family: SabonNextLTPro;
      width: 100%;
      color: #000;
      position: relative;
      line-height: 1.2;
      font-size: 20px;
      font-weight: 700;
      padding: 5px 0;
      margin: 0 0 7px;

      & > div {
        padding: 20px 0 10px;
        text-align: center;
        font-weight: 100;
        font-size: 24px;
        color: #fff;

        & > span {
          font-weight: 700;
          font-size: 20px;
          text-align: center;

          &:first-child {
            font-size: 36px;
          }
        }
      }
    }

    .opinions_info_text {
      font-size: 13px;
      line-height: 1.38;
      text-align: center;
      color: #fff;
    }
  }
}